.formBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3% 5% ;
    height: 500px;
}

.form{}
.eachInput{
    /* margin: 5% 0 ; */
    width: 40%;
    height: 100px ;
    /* margin: 1% 0; */
}

.submitButton{
    margin: 5% 0 ;
    width: 40%;
    height: 50px ;
    margin: 2% 0;
}
.headerCreationForm{
    color : var(--light-cold-4);
    margin-left: 5%;
    margin-top: 5%;
}

@media  screen and (max-width: 600px)  {
    .formBox{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 5% ;
        height: 100%;
    }
    .eachInput{
        margin: 5% 0 ;
        width: 100%;
        height: 100px ;
        margin: 2% 0;
    }
    
    .submitButton{
        margin: 5% 0 ;
        width: 40%;
        height: 50px ;
        margin: 2% 0;
    }
    .headerCreationForm{
        color : var(--light-cold-4);
        margin-left: 5%;
        text-align: center;
    }
    
}